@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600;800&display=swap');

$primaryColor: #002e5b;
$seconaryColor: #fde428;
$textColor: #666666;
$titleTextColor: #002e5b;
$textWhite: #ffff;


$primaryFontFamily: 'Lato', sans-serif;
$primaryFontSize: 16px;

$secondaryFontFamily: 'Montserrat', sans-serif;

$no-bg: transparent;
